h1 {
  text-align: center;
  font: 4em helvetica;
}
h2, h3, h4, h5 {
  text-align: center;
  font: 2em black helvetica;
  padding: .75em;
  /*background-color: #22A4FE*/


}
a {
  text-align: center;
  font: 1em sans-serif;
  padding: 2em 2em 2em 2em;
  text-decoration: none;
}
.active {
  color: black;
  text-align: center;
}

text {
  font-size: 20px;
  font-family: helvetica;
}

/*This does not work yet*/
.nodes:hover circle {
  filter: opacity(50%);
  }

circle:hover {
  filter: opacity(.50);
}
