h1 {
  text-align: center;
  font: 5em sans-serif;
}
h2, h3, h4, h5 {
  font: 2em black sans-serif;
  padding: .75em;

}
a {
  text-align: center;
  font: 1em sans-serif;
  padding: 2em 2em 2em 2em;
  text-decoration: none;
}
a.active {
  color: black;
  text-align: center;
}
p {
  text-align: center;
  font: 1em sans-serif;
  text-decoration: none;
  padding: .75em;
}
